@{
    ViewData["Title"] = "Registro Agent";
}

@using RealStateApp.Core.Application.Enums;
@using RealStateApp.Core.Application.ViewModels.User;
@model SaveUserViewModel;

@{
    bool EditMode = Model.Id == null ? false : true;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-light">
                    <h4> @(EditMode ? "Editar" : "Registrar") usuario</h4>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        @Html.ValidationSummary(false, "", new{@class = "text-danger" })
                        @if (Model.HasError)
                        {
                            <div class="alert alert-danger alert-dimissible fade show" role="alert">
                                <p>@Model.ErrorDetails</p>
                            </div>
                            <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>

                        }
                        <form id="Formulario" enctype="multipart/form-data" method="post" asp-controller="Agent" asp-action="CreateAgent">

                            <div class="mb-3">
                                <label for="NameText" class="form-label">Nombre</label>
                                <input asp-for="FirstName" class="form-control" id="NameText">
                            </div>


                            <div class="mb-3">
                                <label for="ApellidoText" class="form-label">Apellido</label>
                                <input asp-for="LastName" class="form-control" id="ApellidoText">
                            </div>

                            <div class="mb-3">
                                <label for="usernameText" class="form-label">UserName: </label>
                                <input asp-for="UserName" class="form-control" id="usernameText">
                            </div>

                            <div class="mb-3">
                                <label for="Correo" class="form-label">Correo</label>
                                <input asp-for="Email" class="form-control" id="Correo">
                            </div>

                            <div class="mb-3">
                                <label for="telef" class="form-label">Telefono</label>
                                <input asp-for="PhoneNumber" class="form-control" id="telef">
                            </div>

                            <div class="mb-3">
                                <label for="Cedula" class="form-label">Cedula</label>
                                <input asp-for="Cedula" class="form-control" id="Cedula">
                            </div>


                            <div class="mb-3">
                                <label for="Contraseña" class="form-label">Contraseña</label>
                                <input asp-for="Password" class="form-control" id="Contraseña">
                            </div>

                            <div class="mb-3">
                                <label for="ConfirmContraseña" class="form-label">Confirmar Contraseña</label>
                                <input asp-for="ConfirmPassword" class="form-control" id="ConfirmContraseña">
                            </div>

                            <div class="mb-3">
                                <label for="foto" class="form-label">Foto: </label>
                                <input type="file" asp-for="file" class="form-control" id="foto">
                            </div>


                            <input type="hidden" asp-for="Id">

                            <button type="submit" class="btn btn-primary">Dale</button>
                            <a asp-controller="Admin" asp-action="AgentMantainment" class="btn btn-warning">Atrás</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

