@model List<RealStateApp.Core.Application.ViewModels.Propiedades.PropiedadViewModel>
@using RealStateApp.Core.Application.Enums;

@{
    ViewData["Title"] = "Agente";
}

<div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Klk Agente</h1>
        <p>
        </p>
    </div>
</div>
